body{
    margin: 0;
    padding: 0;
    height: 100vh; /* Establece la altura al 100% de la ventana gráfica */
    width: 100vw;
    background-color: #2ea9df;
    overflow: hidden;
}
header {
    width:100%;
    display: flex;
    background-color: black;
    padding: 2em;
    
  }

.logo {
    width: 10vh;
    height: 10vh;
    border-radius: 5rem;
    margin-right: 25vh;

  }
.logo img{
    max-width: 40vh;
    height: 20vh;
    border-radius: 5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}
#hero{
    min-height: 100vh;
    position:relative;

}
form{
    position:relative;
    z-index: 2;
}
main{
    background-color: #fff;
}


.padre{
    min-height: 80lvh;
}
label{
display: none;

}
.form-check label{
    display: contents;
    color: #fff;
    font-size: xx-large;
}
.form-check-label {
    color: #fff;
    font-size: xx-large;
}
.btns-group label{
    display: contents;
    color: #fff;
    font-size: xx-large;
}
h1, h2, h3{
    color: #fff;
}

.form-text{
    font-size: 1.4rem;
    margin: 1rem;
    color:#fff;

}



.card{
    border:none;
    background-color: transparent;
}
.btn{
    font-size: 1.3rem;
    border-radius: 1rem;
}
.form-step{
    display: none;
    animation: animate 0.5s;

}
.form-step-active{
    display:block;
}

.btns-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
select{
    height: 5rem;
    font-size: 3rem;
    font-weight: bold;
}
option{
    font-size: 1.5rem;
}
.area-text{
    padding: 1rem;
    border-radius: 0.8rem;
    border: transparent;
}
.btns-group input{

    margin-bottom: 1rem;
}
.dob{
    width: 70%;
    height: 3rem;
    margin: 1rem;
    border-radius: 1rem;
}
.date{
    text-align: center;
    width: 100vh;
    font-size: large;
}
.date input{
    text-align: center;
}
hr{
    color: #fff;
    font-weight: bolder;
}
.container-footer h6{
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
.container-footer{
    justify-content: center;
    position: fixed;
    bottom: 0 ;
}
.container-footer h6 {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }
header h1{
    animation:flicker;
    margin-left: 3rem;
    margin-top: 2rem;
}
@keyframes flicker {

0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;

}

20%, 24%, 55% {        
    text-shadow: none;
}    
}

.congrats {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;  
    height: 100%;

    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
}
main-success{
    background-color: #2ea9df;
}
.congrats h1 {
    cursor:default;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    margin: auto;
    display: block;

    animation: bounce 10s ease infinite alternate;
  
    font-family: Arial Rounded MT Bold;
    font-size: 80px;
    color: #121111;
    text-align: center;
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .6);
}
@keyframes bounce {
    100% {
      top: -30px;
      
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 30px 30px rgba(0, 0, 0, .3);
    }
  }
@media only screen and (max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        height: 100vh; 
        width: 100vw;
        background-color: #2ea9df;
        overflow: hidden;
    }
    .container-footer h6{
        display: none;
    }
    .form-check label{
        display: contents;
        color: #fff;
        font-size: large;
    }
    .form-check-label {
        color: #fff;
        font-size: large;
    }
    .btns-group label{
        display: contents;
        color: #fff;
        font-size: large;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }header h1{
        margin: 1rem 0 0 0;
    }
    
    .logo img{
        max-width: 25vh;
        height: auto;
    }
    .logo {
        margin-left: 5rem;
        max-width: 25vh;
        height: auto;
    }
    

}
