#hero{
    min-height: 100vh;
    position:relative;

}
form{
    position:relative;
    z-index: 2;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layout{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#000;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.padre{
    min-height: 80lvh;
}
label{
    font-size:2rem;
    margin: 1rem;
    color:#fff;

}
.form-text{
    font-size: 1.4rem;
    margin: 1rem;
    color:#fff;

}



.card{
    border:none;
    background-color: transparent;
}
.btn{
    font-size: 1.3rem;
    border-radius: 1rem;
}
.form-step{
    display: none;
    animation: animate 0.5s;

 }
 .form-step-active{
    display:block;
 }
 
 .btns-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
 }
select{
    height: 5rem;
    font-size: 3rem;
    font-weight: bold;
 }
 option{
    font-size: 1.5rem;
 }
 .area-text{
    padding: 1rem;
    border-radius: 0.8rem;
    border: transparent;
 }
 .btns-group input{
  
    margin-bottom: 1rem;
 }
 .dob{
    width: 70%;
    height: 3rem;
    margin: 1rem;
    border-radius: 1rem;
 }
 .date{
    text-align: center;
    width: 100vh;
    font-size: large;
 }
 .date input{
    text-align: center;
 }
 hr{
    color: #fff;
    font-weight: bolder;
 }