{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                   
                    <form action="{% url 'success' %}" class="needs-validation" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-step form-step-active">
                            <h1 class="tittle">Who Referred You?</h1>
                            <div class="form-text" id="referredhelp">ie:Facebook, website or Name the friend or associate that
                                    referred you
                            </div>
                            <hr>
                            <div class="p-3">
                                {{ form.who | as_crispy_field }}
                                
                            </div>
                            <br>
                            <div class="d-grid gap-2 col6 mx-auto">
                                <a type="button" class="btn btn-outline-warning btn-next ">NEXT </a>
                
                            </div>
                        
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">What service are you requesting</h1>
                            <div class="form-text" id="referredhelp">Service or Product Requesting</div>
                            <hr>
                            {{form.serviceOption | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Credit Monitoring</h1>
                            <hr>
                            <div class="form-text">For CREDIT ENRICHMENT please go to <a href="http://bit.ly/myIQscore">http://bit.ly/myIQscore</a>  sign up for $1.00 INPUT  your USERNAME and PASSWORDBELOW- PLEASE PUT THE REASON FOR WANTING CREDIT ENRICHMENT </div>
                            <div class="form-text">ie: Buy a house, Refinance, buy a car etc.</div>
                            
                            <div class="p-3">
                                {{form.creditEnrichment | as_crispy_field}}
                            </div>
                                
                            <br>
                            
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                                <h1 class="tittle">Credit Scores</h1>
                            <hr>
                            <div class="form-text">
                                Equifax  / Transunion  / Experian
                            </div>
                            <div class="p-3">
                                {{form.scores | as_crispy_field}}
                            </div>
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Name*</h1>
                            <hr>
                            <div class="btns-group" role="group">
                                {{form.name | as_crispy_field}}{{form.lastName | as_crispy_field}}
                                
                            </div>
                                <br>
                        
                        <div class="btns-group">
                            <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                            <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                        </div>
                        </div>
                        <div class="form-step ">
                                <h1 class="tittle">Date of Birth*</h1>
                                <hr>
                                <div class="form-text">MM/DD/YY</div>
                                <div class="justify-content-center">
                                    {{form.dateOfBirth | as_crispy_field}}
                                </div>
                                <div class="btns-group">
                                    <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                    <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                                </div>
                        </div>
                        <div class="form-step ">
                                <h1 class="tittle">Social Security Number/ State Originally Issued*</h1>
                                <hr>
                                {{form.numberSecurity | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Drivers License / ID *</h1>
                            <hr>
                            <div class="form-text">STATE/ ISSUE DATE / EXP DATE</div>
                            
                            {{form.driversLicense | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Marital Status:*</h1>
                            <hr>
                            <div class="form-check" >
                                {{form.marital }}
                            </div>
                            
                            <br>
                            
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">E-mail*</h1>
                            <hr>
                            {{form.email | as_crispy_field}}  
                            <br>          
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#"class='btn btn-outline-warning btn-next'>Next</a>
                
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Home Phone*</h1>
                            <hr>
                            <div class="btns-group">
                                {{form.codeArea | as_crispy_field}}
                                {{form.phoneNumber | as_crispy_field}}  
                            </div>
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Cell Phone*</h1>
                            <hr>
                            <div class="btns-group">
                              {{form.codeCellArea | as_crispy_field}}  
                              {{form.cellNumber | as_crispy_field}}  
                            </div>
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Adress*</h1>
                            <hr>
                            <div class="btns-group">
                                {{form.streetAdress | as_crispy_field}} 
                                {{form.aptAdress | as_crispy_field}}
                            </div>
                                
                                <div class="btns-group">
                                        {{form.city | as_crispy_field}}
                                        {{form.state | as_crispy_field}}
                                        {{form.zipCode | as_crispy_field}}

                                </div>
                                <br>
                                <div class="btns-group">
                                    <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                    <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                                </div>
                                
                        </div>
                        
                        <div class="form-step ">
                            <h1 class="tittle">Month and Year when you moved into current address?</h1>
                            <hr>
                            {{form.moved | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">If less than 2 years list Previous Address - From / To MM/YY</h1>
                            <hr>
                            {{form.previousAdress | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Present Employer*</h1> 
                            <hr>
                            <div class="form-text">Years At Current employer</div>
                            {{form.employer | as_crispy_field}} 
                            <br>           
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Hire Date MM/DD/YY?</h1>
                            <hr>
                            <div class="p-3">
                                {{form.hireDate | as_crispy_field}}
                            </div>
                            
                            <br>
                            <div class="btns-group">
                                <a href="#" type="button" class="btn btn-outline-warning btn-prev">Previous </a>
                                <a href="#" type="button" class="btn btn-outline-warning btn-next">Next </a>
                
                            </div>
                        </div>
                        <div class="form-step ">
                           <h2 class="tittle">IF Self Employed/ Business Name  &  EIN (Employee ID Number)/Year Business started / LLC, S Corp, or Sole Prop IF NO BIZ put N/A</h2>
                            <hr>
                            <div class="form-text" id="referredhelp">ADDRESS  AND PHONE NUMBER </div>
                            
                            <div class="p-3">
                                {{form.employeeId |as_crispy_field}}
                            </div>
                            
                            <br>
                            <div class="btns-group">
                                <a href="#" type="button" class="btn btn-outline-warning btn-prev ">Previous </a>
                                <a href="#" type="button" class="btn btn-outline-warning btn-next ">Next </a>
                
                            </div>
                            
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Occupation/Title*</h1>
                            <hr>
                            <div class="form-text" id="referredhelp">What you do for work </div>
                                {{form.work | as_crispy_field}}  
                                <br>          
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Gross monthly income*</h1>
                            <hr>
                            <div class="form-text" id="referredhelp">Before Taxes are taken out. Put hourly or Yearly income </div>
                                {{form.gross | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Current monthly rent or mortage *</h1>
                            <hr>
                            <div class="form-text" id="referredhelp">Dollar amount you pay currently </div>
                                {{form.rent | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Do you have any LIFE Insurance?</h1>
                            <hr>
                            <div class="form-text" id="referredhelp">Term, Whole or NONE?</div>
                                {{form.insurance | as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Reason for loan and loan amount?</h1>
                            <hr>
                            <div class="form-text" id="referredhelp">If no loan please put NA</div>
                                {{form.loan |as_crispy_field}}
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h3 >I authorize Rios Financial Group, LLC and its prospective Credit Grantors/Lending/Leasing Companies to obtain personal and credit information about me from my employer and credit bureau, or credit reporting agency, any person who has or may have any financial dealing with me, or from any references I have provided. This information, as well as that provided by me in the application, will be referred to in connection with this credit and any other relationships we may establish from time to time. Any personal and credit information obtained may be disclosed from time to time to other lenders, credit bureaus or other credit reporting agencies.*</h3>
                            <hr>
                            <div class="form-check mb-3">
                                <div class="form-check-label" for="fexamplecheck1">
                                    {{form.authorize}}
                                    Yes
                                </div>
                                   
                                
                            </div>
                            <br>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h3 >I hereby agree that the information given is true, accurate and complete as of the date of this application submission for the purchase of future receivables including merchant cash advance transactions. *</h3>
                            <hr>
                            <div class="form-check mb-3  ">
                                <div class="form-check-label" for="fexampleCheck1">
                                    {{form.agree }}
                                    Yes
                                </div>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                            </div>
                            </div>
                        </div>
                        <div class="form-step ">
                            <h1 class="tittle">Please agree to terms and conditions.</h1>
                            <hr>
                            <div class="row">
                                <div class="form-check-label" for="fexampleCheck1">
                                    {{form.agreeTerms }}
                                    I agree to <a href="www.example.com">terms & conditions.</a>* 
                                </div>
                            <div class="btns-group">
                                <a href="#" class="btn btn-outline-warning btn-prev">Previous</a>
                                <a href="#" class="btn btn-outline-warning btn-next">Next</a>
                
                            </div>
                            </div>
                        </div> 
                        <div class="form-step ">
                            <h1 class="tittle">Please Sign</h1>
                            <canvas name="sign" id="canvas" class="border-radius-5"></canvas>
                            <br>
                            <a href="#" id="btnLimpiar" class="btn w-lg btn-outline-info m-3">Clear</a>
                            <a href="#" id="btnDescargar" class="btn w-lg btn-outline-info m-3">Download</a>
                            <br>
                            <hr>
                            {{form.imagen | as_crispy_field}}
            
                            <br>
                            <div class="btns-group">
                                <input type="btn" value="Previous" class="btn btn-outline-warning btn-prev">
                                <input type="submit" value="send" class="btn btn-outline-primary">
            
                            </div>
                           </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}