{% extends 'base.html' %}
{% block tittle %}
    Success
{% endblock %}

{% block content %}
<main>
    <div class="container justify-content-center">
        <div class="row align-itmes-center">
            <div class="col-12 col-md-6 offset-md-3">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">
                        <div class="congrats justify-content-center align-itmes-center text-center">
                        <br>   
                        <h1 >Thank you!!</h1>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}