{% extends 'base.html' %}
{% block tittle %}
    Success
{% endblock %}
{% block style%}
    <!-- <link rel="stylesheet" href="/static/css/success.scss"> -->
    <link rel="stylesheet" href="/static/css/style.css">

{% endblock %}
{% block content %}
<main-success>
    <div class="container justify-content-center">
        <div class="row align-itmes-center">
            <div class="col-12 col-md-6 offset-md-3">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-body-success">
                        <div class="congrats justify-content-center align-itmes-center text-center">
                        <br>   
                        <h1>Thank You For Submit!!</h1>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main-success>
{% endblock %}